html,
body {
    margin-left: 20px;
    padding: 0;
    width: 95%;
    height: 95%;
    min-height: 100%;
    background: black;
}

#footer {
    position: relative;
    width: 100%;
    bottom: 0;
    height: 30px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 3px;
}

#hr-footer {
    display: block;
    border: 3px solid white;
}

#map {
    height: 70%;
    width: 75%;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

img {
    border: 5px solid #2A9FD6!important;
    }

h1 {
    font-size: 35px!important;
}
h2 {
    text-align: center;
    font-size: 30px!important;
    color: #2A9FD6!important;
}

h3 {
    text-align: center;
    font-size: 20px!important;
    color: #2A9FD6!important;
}


p {
    font-size: 15px;
}

li {
    font-size: 15px;
}
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
